*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 200px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.header_login_form input[type=text],
.header_login_form input[type=password]{
    width: 266px;
    height: 40px;
    padding: 8px;
    font-size: 12px;
    margin-top: 5px; 
    border: 1px solid #dbdbdb;   
    border-radius: 4px;
    background-color: #fafafa;
    
    
}

.header_login_form input[type=submit]{
    background-color: #0095f6;
    width: 266px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
    border: 0px;
 
}
.header_login_form{
 padding-left: 58px;
   
}
.Main_texto{
    text-align: center;
    color: rgb(152, 151, 151);
    font-size: 13px;
    border-bottom: 1px solid rgb(183, 180, 180); 
    line-height: 0.1em;
    margin: 23px 49px 20px;
}
.Main_texto span{
    background:rgb(255, 255, 255); 
    padding:0 20px; 
}
.Facebook img{
    width: 18px;
    margin-right: 10px;
    margin-left: 70px;
    
}
a:link{
    text-decoration: none;
    color: #385185;  
    font-weight: 500;
}
a::after{
    color: #385185;
}

.Facebook a{
    color: #385185;
} 

.Main_esqsenha{
    text-align: center;
    font-size: 12px;
    padding: 20px 0px;
    cursor: pointer;
    color: #385185;
}
.create_acount{
    background-color: white;
    max-width: 380px;
    text-align: center;
    margin: -35px auto;
    padding: 20px;
    border: 1px solid rgb(200, 200, 200);
    font-size: 14px;
}
.create_acount a{
    color: #00acf9;
}

.get_app p{
    text-align: center;
    margin-top: 50px;
    color: black;
    font-weight: 350;
    font-size: 14px;
}
.get_app img{

    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    margin-top: 20px;
    height: 35px;
    
}
.get_app{
    text-align: center;
}
.MobileHide{
    display: inline;
}
.MobileHide > .container_img > .Imgback{
    margin-top: -580px;
    margin-left: 90px;
   
}
.MobileHide > .container_img > .Imgback img {
    width: 425px;
}
.Imgfront{

    margin-top: -562px;
    margin-left: 242px;
}
.Imgfront img{
width: 248px;
height: 522px;
 
}

.main{
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    margin: 45px auto;
    max-width: 380px;

}
body{
    background-color: #fafafa;
}

@media(max-width:1450px){
    .MobileHide{
        display: none;
    }   
    .Imgfront{
        display: none;
    }

}


